    <ul class="navbar-nav bg-aws sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Divider -->

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            <span> {{  user  }} 的仪表盘</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        集群
    </div>


    <li class="nav-item">
        <a class="nav-link" href="/remote_desktop">
            <i class="fab fa-linux"></i>
            <span>Linux 桌面</span>
        </a>
    </li>
 <li class="nav-item">
        <a class="nav-link" href="/remote_desktop_windows">
            <i class="fab fa-windows"></i>
            <span>Windows 桌面</span>
        </a>
    </li>


    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        个人
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/my_account">
            <i class="fas fa-user"></i>
            <span>我的账户</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/my_activity">
            <i class="far fa-calendar-alt"></i>
            <span>我的活动</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/my_files">
            <i class="fas fa-sitemap"></i>
            <span>我的文件</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Job 相关
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/submit_job">
            <i class="fas fa-cogs"></i>
            <span>提交 job</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
            分析
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>集群指标</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

{% if sudoers %}

    <div class="sidebar-heading">
        管理
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/users">
            <i class="fas fa-users"></i>
            <span>用户管理</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/groups">
            <i class="fas fa-users-cog"></i>
            <span>群组管理</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/ami_management">
            <i class="fas fa-wrench"></i>
            <span>AMI 管理</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

{% endif %}

    <!-- Sidebar Toggler (Sidebar)-->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
