<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <div class="row">
                  <div class="col-md-12">
                      <div class="card shadow mb-4">
                          <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">获取集群分析</h6>
                          </div>

                          <iframe style="width:100%; border: 0" src="{{ kibana_url}}{{ dashboard_key }}" height="1000"></iframe>
                          <br>
                          <i>
                              请单击此处访问您的仪表板: <a href="{{ kibana_url}}" target="_blank">{{kibana_url}}</a>
                          </i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
