<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}


</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
              {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% elif category == "info" %}
                                 <div class="alert alert-info">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
              <div class="col-md-12">
                  <div class="card shadow mb-4">
                      </div>

                              <div class="card-body">
                                  <iframe style="width:100%; border: 0" height="1500" src="{{ user_kibana_url }}"></iframe>
                                  <br>
                                  <i>
                                      所有数据: <a href="{{ user_kibana_url }}" target="_blank">{{ user_kibana_url }}</a>
                                  </i>
                              </div>
                  </div>
              </div>

              </main>
              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  {% include 'common/footer.html' %}



</body>

</html>
