<!DOCTYPE html>
<html lang="en">

<head>

     {% include 'common/header.html' %}

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              {% include 'common/flashed_messages.html' %}
              <div class="row">
                  {% for n in range(1,max_number_of_sessions + 1) %}
                    <div class="col-md-6">
                          <div class="card shadow mb-4">
                              {% if n in user_sessions.keys() %}
                                  {% for session_number, session_data in user_sessions.items() %}
                                      {% if session_number == n %}
                                          <!-- Modal terminate -->
                                              <div class="modal fade" id="terminate{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">终止桌面 {{ session_data.session_name }}</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              <form method="get" action="/remote_desktop_windows/delete">
                                                                  <div class="alert alert-danger">
                                                                      终止桌面会删除 C 盘中所有数据<br>
                                                                      请确保已将数据上传到系统，以防止数据丢失<br>
                                                                      {% if terminate_session > 0 %}
                                                                          你的桌面将会 <strong>在 {{ terminate_session }} 小时后</strong> 自动终止。<br>
                                                                      {% endif %}
                                                                      <div class="form-group form-check">
                                                                          <input type="checkbox" class="form-check-input" name="verif" id="verif" required>
                                                                          <label class="form-check-label" for="verif">我确定要终止这个桌面</label>
                                                                      </div>
                                                                  </div>
                                                                  <div align="center">
                                                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                                      <input type="hidden" name="session" value="{{ n }}">
                                                                      <input type="hidden" name="action" value="terminate">
                                                                      <button type="submit" class="btn btn-danger btn-icon-split">
                                                                          <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                                                                          <span style="margin-top:5px;margin-right:10px; margin-left:10px">终止 {{ session_data.session_name }}</span>
                                                                      </button>
                                                                  </div>
                                                              </form>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div><!--end  terminate  -->

                                          <div class="card-header py-3">
                                              <h6 class="m-0 font-weight-bold text-primary"><i data-toggle="tooltip" data-placement="top" title="故障排除: EC2 tag 是 {{ session_data.tag_uuid }}, 实例 ID 是 {{ session_data.session_instance_id }}" class="fas fa-question-circle"></i> Windows 桌面 #{{ n }}
                                                  {% if session_data.session_state == 'running' %}
                                                      <div class="float-right"><button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#password{{ n }}">获取密码</button>&nbsp;<button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#schedule{{ n }}">计划</button>
                                                           {% if session_data.support_hibernation == true %}
                                                                &nbsp;<button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#hibernate{{ n }}">休眠</button>
                                                            {% else %}
                                                                &nbsp;<button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#stop{{ n }}">停止</button>
                                                                {% endif %}
                                                          &nbsp;<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#terminate{{ n }}">关闭</button>
                                                      </div>
                                                  {% elif session_data.session_state == 'stopped' %}
                                                      <div class="float-right"><button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#schedule{{ n }}">计划</button>&nbsp;<button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#resize{{ n }}">修改硬件</button>&nbsp;<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#terminate{{ n }}">关闭</button></div>
                                                  {% elif session_data.session_state == 'pending' %}
                                                      <div class="float-right"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#terminate{{ n }}">关闭</button></div>
                                                  {% endif %}
                                              </h6>
                                          </div>
                                          <div class="card-body">
                                          <h5 >{{ session_data.session_name }}</h5>
                                          <hr>
                                          <!-- Modal schedule -->
                                              <div class="modal fade" id="schedule{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">计划 {{ session_data.session_name }} </h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              <div class="alert alert-primary">
                                                                  根据计划自动启动/停止此桌面<br>
                                                                  您的桌面不会在计划时间内停止。<br>
                                                                  在计划时间之外，您的桌面将仅在空闲时终止。<br>
                                                                  服务器正在使用 <strong>{{ server_timezone_human }}</strong> 时区。现在的时间是 <strong>{{ server_time }}</strong>
                                                              </div>

                                                              <div class="container">
                                                                  {% for day in ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"] %}
                                                                      <div class="form-inline">
                                                                          <div class="col-md-8">
                                                                              <form action="/remote_desktop_windows/schedule" method="POST">
                                                                                  <strong
                                                                                          {% if session_data.session_schedule[day] == "0-0" %} style="color: #e02d1b"{% else %} style="color: #16bf9f" {% endif %}>{{ day | capitalize }} </strong> &nbsp;
                                                                                  <select  class="custom-select"  id="schedule_mode" onchange="manageSchedule('{{ day }}-{{ n }}', this.value)">
                                                                                      <option value="custom" {% if session_data.session_schedule[day] != "0-0" and  session_data.session_schedule[day] != "0-1440" %}selected{% endif %}>自定义计划</option>
                                                                                      <option value="0-0" {% if session_data.session_schedule[day] == "0-0" %}selected{% endif %}>停止</option>
                                                                                      <option value="0-1440" {% if session_data.session_schedule[day] == "0-1440" %}selected{% endif %}>一直运行</option>
                                                                                  </select>
                                                                          </div>
                                                                      </div>
                                                                      <div {% if session_data.session_schedule[day] == "0-0" or session_data.session_schedule[day] == "0-1440" %} style="display: none"{% endif %} id="slider-{{ day }}-{{ n }}"></div>

                                                                      <script>
                                                                   $(function () {
                                                                       $("#slider-{{day}}-{{ n }}").slider({
                                                                           range: true,
                                                                           min: 0,
                                                                           max: 1440,
                                                                           step: 30,
                                                                           {% if session_data.session_schedule[day] == "0-0" or session_data.session_schedule[day] == "0-1440" %}
                                                                            values: [450,1200], // ignored as if schedule is set to norun or alldays, but values must exist
                                                                           {% else %}
                                                                            values: [{{session_data.session_schedule[day].split("-")[0]}}, {{session_data.session_schedule[day].split("-")[1]}}],
                                                                           {% endif %}
                                                                    slide: function(event, ui) {
                                                                        if ((ui.values[1] - ui.values[0]) < 5) {
                                                                          return false;
                                                                        }
                                                                        var startTime = ui.values[0]
                                                                        var endTime = ui.values[1]
                                                                        document.getElementById("schedule-{{ day }}-{{ n }}").value = startTime + "-" + endTime;
                                                                    },
                                                                       }).slider("float", {
                                                                           handle: true,
                                                                           pips: true,
                                                                           labels: [
                                                                               '00', "00:30", "01:00", "01:30",
                                                                               '02:00', "02:30", "03:00", "03:30",
                                                                               '04:00', "04:30", "05:00", "05:30",
                                                                               '06:00', "06:30", "07:00", "07:30",
                                                                               '08:00', "08:30", "09:00", "09:30",
                                                                               '10:00', "10:30", "11:00", "11:30",
                                                                               '12:00', "12:30", "13:00", "13:30",
                                                                               '14:00', "14:30", "15:00", "15:30",
                                                                               '16:00', "16:30", "17:00", "17:30",
                                                                               '18:00', "18:30", "19:00", "19:30",
                                                                               '20:00', "20:30", "21:00", "21:30",
                                                                               '22:00', "22:30", "23:00", "23:30",
                                                                               '24:00']}
                                                                               ).slider("pips", {
                                                                           rest: "label",
                                                                           labels: [,,,,,,"3",,,,,,"6",,,,,,"9",,,,,,"12",,,,,,"15",,,,,,"18",,,,,,"21"]});});
                                                                      </script>
                                                                      <br>
                                                                   <input type="hidden" id="schedule-{{ day }}-{{ n }}" name="{{ day }}" value="{{ session_data.session_schedule[day] }}">

                                                                  {% endfor %}
                                                              </div>
                                                          <br>

                                                          <hr>

                                                          <div align="center">
                                                               <input type="hidden" name="session_number" value="{{ n }}">
                                                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                                               <button type="submit" class="btn btn-primary btn-icon-split">
                                                                   <span class="icon text-white-50"><i class="far fa-clock"></i></span>
                                                                   <span style="margin-top:5px;margin-right:10px; margin-left:10px">保存计划</span>
                                                               </button>
                                                          </div>
                                                          </form>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>  <!-- schedule -->
                                          {% if session_data.session_state == 'pending' %}
                                              <div class="alert alert-warning" role="alert">
                                                  请稍候，您的桌面正在启动，将在10分钟内准备就绪。<br>
                                                  当桌面处于活动状态时，此页将自动刷新。
                                              </div>

                                          {% elif session_data.session_state == 'stopped' %}
                                              <div class="alert alert-warning" role="alert">
                                                  您的桌面已停止。存储在系统上的数据仍然可用，并且不向您收取计算时间费用。
                                              </div>
                                              <div align="center">
                                                  <a href="/remote_desktop_windows/restart?session={{ n }}" class="btn btn-success btn-icon-split">
                                                      <span class="icon text-white-50">
                                                          <i class="fas fa-check"></i>
                                                      </span>
                                                      <span class="text">重启桌面</span>
                                                  </a>
                                              </div>

                                              <!-- Modal resize -->
                                              <div class="modal fade" id="resize{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">修改 {{ session_data.session_name }} 的硬件 </h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                               {% if allow_instance_change %}
                                                                   <div class="alert alert-warning">
                                                                       您当前正在使用 <strong>{{ session_data.session_instance_type }}</strong> <br>
                                                                       更改实例类型不会导致数据丢失。<br>
                                                                       重新启动后，您的桌面将立即使用新硬件<br>
                                                                        <strong>限制</strong> <br>
                                                                        如果您已启用休眠，则不能更改硬件 <br>
                                                                        由于驱动程序不兼容，不建议在非 GPU 和 GPU 实例之间进行升级/降级
                                                                   </div>
                                                                   <br>
                                                                   <form method="post" action="/remote_desktop_windows/modify">
                                                                      <div class="form-group row">
                                                                          <label for="instance_type" class="col-sm-3 col-form-label">Resize Hardware</label>
                                                                          <div class="col-sm-9">
                                                                              <select class="form-control" name='instance_type' id="instance_type">
                                                                                  {% if quick2d %}
                                                                                      <option value="" disabled="disabled">-- 快速启动 2D --</option>
                                                                                      <option selected="true" value="m5.large">2D - Small (2 vCPUs - 8 GB ram)</option>
                                                                                      <option value="m5.2xlarge">2D - Medium (8 vCPUs - 32 GB ram)</option>
                                                                                      <option value="m5.4xlarge">2D - Large (16 vCPUs - 64 GB ram)</option>
                                                                                      <option value="m5.12xlarge">2D - Extra Large (48 vCPUs - 192 GB ram)</option>
                                                                                      <option value="m5.24xlarge">2D - XXL Large (96 vCPUs - 384 GB ram)</option>
                                                                                  {% endif %}
                                                                                  {% if quick3d %}
                                                                                      <option value="" disabled="disabled">-- 快速启动 3D --</option>
                                                                                      <option selected="true" value="g4dn.xlarge">3D - Small (4 vCPUs - 16 GB ram - 1 T4 GPU)</option>
                                                                                      <option value="g4dn.4xlarge">3D - Medium (16 vCPUs - 64 GB ram - 1 T4 GPU)</option>
                                                                                      <option value="g4dn.8xlarge">3D - Large (32 vCPUs - 128 GB ram - 1 T4 GPU)</option>
                                                                                      <option value="g4dn.16xlarge">3D - Extra Large (64 vCPUs - 256 GB ram - 1 T4 GPU)</option>
                                                                                  {% endif %}
                                                                                  <option value="" disabled="disabled">-- 指定类型 --</option>
                                                                                  {%  for instance in all_instances %}
                                                                                      <option value="{{ instance }}">{{ instance }}</option>
                                                                                  {% endfor %}
                                                                              </select>
                                                                          </div>
                                                                      </div>
                                                                      <div align="center">
                                                                          <hr>
                                                                          <button type="submit"  class="btn btn-primary btn-icon-split">
                                                                             <span class="icon text-white-50">
                                                                                 <i class="fas fa-info-circle"></i>
                                                                             </span>
                                                                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                                             <input type="hidden" id="session_number" name="session_number" value="{{ n }}">
                                                                             <span class="text">修改实例类型</span>
                                                                          </button>
                                                                      </div>
                                                                  </form>
                                                               {% else %}
                                                                   <div class="alert alert-warning">
                                                                   您的群集管理员禁用了此功能。
                                                                   </div>
                                                               {% endif %}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>  <!-- resize -->
                                              {% if terminate_stopped_session > 0 %}
                                                   <hr>
                                                  你的桌面将会 <strong>在 {{ terminate_stopped_session }} 小时后</strong> 自动终止。<br>
                                              {% endif %}

                                          {% elif session_data.session_state == 'running' %}
                                              <h6>选项1: 浏览器访问</h6>
                                              {% if auth_provider == 'openldap' %}
                                                <a target="_blank" href="{{ session_data.url }}?authToken={{ session_data.session_authentication_token }}#{{ session_data.session_id }}" class="btn btn-success btn-icon-split">
                                              {% else %}
                                                  <!-- ad -->
                                                  <a target="_blank" href="{{ session_data.url }}?username={{ netbios }}\{{ user }}#{{ session_data.session_id }}" class="btn btn-success btn-icon-split">
                                              {% endif %}
                                                  <span class="icon text-white-50">
                                                      <i class="fas fa-check"></i>
                                                  </span>
                                                  <span class="text">在浏览器中直接打开桌面</span>
                                              </a>
                                              <br><br>
                                              <h6>选项2: 使用本机应用（性能最好）</h6>
                                              <div class="alert alert-primary" role="alert">
                                                  <strong><a href="https://download.nice-dcv.com/" target="_blank">点击</a></strong> 下载客户端
                                              </div>
                                              <a target="_blank" href="/remote_desktop_windows/client?session={{ n }}" class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">下载桌面文件</span>
                                              </a>
                                              {% if session_data.support_hibernation == true %}
                                                  {% if hibernate_idle_session > 0 %}
                                                      <hr> 在空闲时间<strong> {{ hibernate_idle_session }} 小时</strong> 之后，此桌面会自动休眠。
                                                  {% endif %}
                                              {% else %}
                                                {% if stop_idle_session > 0  %}
                                                    <hr> 在空闲时间<strong> {{ hibernate_idle_session }} 小时</strong> 之后，此桌面会自动停止。
                                                {% endif %}
                                              {% endif %}



                                              <!-- Modal Password -->
                                              <div class="modal fade" id="password{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">管理员桌面密码 {{ session_data.session_name }}</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              此密码是唯一的 <br>
                                                              <strong>用户名:</strong> Administrator <br>
                                                              <strong>桌面密码:</strong> {{ session_data.session_local_admin_password }}<br>
                                                              <hr>
                                                              为了您的便利, 我们在您的桌面中添加了这个密码对，保存在文件 <code>admin_password.txt</code>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> <!--end  password -->

                                              <!-- Modal Hibernation -->
                                              <div class="modal fade" id="hibernate{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">休眠桌面 {{ session_data.session_name }} <small><a href="https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/Hibernate.html" target="_blank"> 文档</a> </small></h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              {% if session_data.support_hibernation %}
                                                                  <div class="alert alert-warning" >
                                                                      休眠不会导致任何数据丢失<br>
                                                                      当您的会话停止时，您不会被收取计算时间的费用<br>
                                                                      应用程序被加载到内存中，并将自动重新启动
                                                                      {% if hibernate_idle_session > 0 %}
                                                                          <br> 在空闲时间<strong> {{ hibernate_idle_session }} 小时</strong> 之后，此桌面会自动休眠。
                                                                      {% endif %}
                                                                  </div>
                                                                  <div align="center">
                                                                      <form method="get" action="/remote_desktop_windows/delete">
                                                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                                          <input type="hidden" name="action" value="hibernate">
                                                                          <input type="hidden" name="session" value="{{ n }}">
                                                                          <button type="submit" class="btn btn-danger btn-icon-split">
                                                                              <span class="icon text-white-50"><i class="fas fa-bed"></i></span>
                                                                              <span style="margin-top:5px;margin-right:10px; margin-left:10px">休眠 {{ session_data.session_name }}</span>
                                                                          </button>
                                                                      </form>
                                                                  </div>
                                                              {% else %}
                                                                  <div class="alert alert-warning">
                                                                      此实例类型不支持休眠。请使用“停止”。
                                                                  </div>
                                                              {% endif %}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> <!--end  hibernate -->

                                              <!-- Modal stop -->
                                              <div class="modal fade" id="stop{{ n }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">停止桌面 {{ session_data.session_name }}</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                              </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              <div class="alert alert-warning">
                                                                  停止实例不会导致任何数据丢失<br>
                                                                  当您的会话停止时，您不会被收取计算时间的费用<br>
                                                                  任何正在运行的应用程序都将被停止(如果可能，使用“休眠”来保存状态)
                                                              </div>
                                                              <div align="center">
                                                                  <form method="get" action="/remote_desktop_windows/delete">
                                                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                                      <input type="hidden" name="action" value="stop">
                                                                      <input type="hidden" name="session" value="{{ n }}">
                                                                      <button type="submit" class="btn btn-danger btn-icon-split">
                                                                          <span class="icon text-white-50"><i class="fas fa-bed"></i></span>
                                                                          <span style="margin-top:5px;margin-right:10px; margin-left:10px">停止 {{ session_data.session_name }}</span>
                                                                      </button>
                                                                  </form>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> <!--end  stop  -->
                                          {% endif %}
                                      {% endif %}
                                  {% endfor %}
                              {% else %}
                                  <div class="card-header py-3">
                                      <h6 class="m-0 font-weight-bold text-primary">Windows 桌面 #{{ n }}</h6>
                                  </div>
                                  <div class="card-body">
                                  <form method="post" action="/remote_desktop_windows/create">
                                      <div class="form-group row">
                                        <label for="walltime" data-toggle="tooltip" data-placement="top" title="选择一个简单的名称来标识您的图形桌面" class="col-sm-4 col-form-label">桌面名称</label>
                                        <div class="col-sm-8">
                                            <input id="session_name" class="form-control"  placeholder="桌面{{ n }}" type="text"  name="session_name" maxlength="255">
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="disk_size" data-toggle="tooltip" data-placement="top" title="选择用于C盘的主SSD磁盘的大小(以GB为单位)。" class="col-sm-4 col-form-label">存储大小</label>
                                          <div class="col-sm-8">
                                            <input id="disk_size" value="30" min="30" class="form-control" type="number" name="disk_size">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="instance_ami" data-toggle="tooltip" data-placement="top" title="指定带有预装应用程序的映像" class="col-sm-4 col-form-label">预装软件</label>
                                          <div class="col-sm-8">
                                              <select class="form-control" name='instance_ami' id="instance_ami">
                                                  <option selected value="base">基础（无软件）</option>
                                                  {% for ami_label, ami_id in ami_list.items() %}
                                                      <option value="{{ ami_id }}">{{ ami_label }} ({{ ami_id }})</option>
                                                  {% endfor %}

                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="instance_type" data-toggle="tooltip" data-placement="top" title="2D桌面不支持GPU加速。这种类型的桌面适用于非密集型计算活动。3D桌面提供完全的GPU支持。对于图形密集型操作，如3D模型渲染或后处理，建议使用此选项。" class="col-sm-4 col-form-label">桌面类型</label>
                                          <div class="col-sm-8">
                                              <select class="form-control" name='instance_type' id="instance_type">
                                                  {% if quick2d %}
                                                      <option value="" disabled="disabled">-- 快速启动 2D --</option>
                                                      <option selected="true" value="m5.large">2D - Small (2 vCPUs - 8 GB ram)</option>
                                                      <option value="m5.2xlarge">2D - Medium (8 vCPUs - 32 GB ram)</option>
                                                      <option value="m5.4xlarge">2D - Large (16 vCPUs - 64 GB ram)</option>
                                                      <option value="m5.12xlarge">2D - Extra Large (48 vCPUs - 192 GB ram)</option>
                                                      <option value="m5.24xlarge">2D - XXL Large (96 vCPUs - 384 GB ram)</option>
                                                  {% endif %}
                                                  {% if quick3d %}
                                                      <option value="" disabled="disabled">-- 快速启动 3D --</option>
                                                      <option selected="true" value="g4dn.xlarge">3D - Small (4 vCPUs - 16 GB ram - 1 T4 GPU)</option>
                                                      <option value="g4dn.4xlarge">3D - Medium (16 vCPUs - 64 GB ram - 1 T4 GPU)</option>
                                                      <option value="g4dn.8xlarge">3D - Large (32 vCPUs - 128 GB ram - 1 T4 GPU)</option>
                                                      <option value="g4dn.16xlarge">3D - Extra Large (64 vCPUs - 256 GB ram - 1 T4 GPU)</option>
                                                  {% endif %}
                                                  <option value="" disabled="disabled">-- 指定类型 --</option>
                                                  {%  for instance in all_instances %}
                                                      <option value="{{ instance }}">{{ instance }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label data-toggle="tooltip" data-placement="top" title="休眠可以节省重新设置环境或应用程序的精力，并通过减少应用程序所需的较长启动时间来节省时间。使用休眠，您可以维护一组预热的实例，这些实例可以更快地进入生产状态，而无需修改现有的应用程序。" for="hibernate" class="col-sm-4 col-form-label">启动休眠</label>
                                          <div class="col-sm-8">
                                              <select class="form-control" name='hibernate' id="hibernate">
                                                  <option selected value="false">否</option>
                                                  <option value="true">是</option>
                                              </select>
                                          </div>
                                      </div>

                                    <div class="form-group row">
                                          <label for="extra" class="col-sm-4 col-form-label">选项</label>
                                          <div class="col-sm-8">
                                             <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#advancedOptions{{ n }}" aria-expanded="false">
                                                 展示高级选项
                                            </button>
                                          </div>
                                      </div>

                                      <div class="collapse" id="advancedOptions{{ n }}">
                                          <br>
                                          <div>
                                               <div class="form-group">
                                                   <input id="subnet_id" placeholder="VPC Subnet" class="form-control" type="text"  name="subnet_id">
                                                   <small id="subnet_id" class="form-text text-muted">在特定的子网中启动您的容量</small>
                                               </div>
                                          </div>
                                          <br>
                                      </div>

                                     <div align="center">
                                         <hr>
                                         <button type="submit"  class="btn btn-primary btn-icon-split">
                                             <span class="icon text-white-50">
                                                 <i class="fas fa-info-circle"></i>
                                             </span>
                                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                             <input type="hidden" id="session_number" name="session_number" value="{{ n }}">
                                             <span class="text">启动桌面 #{{ n }}</span>
                                         </button>
                                     </div>
                                  </form>
                              {% endif %}
                              </div>


                          </div> <!-- card -->
                          </div> <!-- col md 6 -->
                {% endfor %}

              </div>
          </div>
                </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    <script>
    $(document).ready(function() {
        // enable tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })})

    function manageSchedule(scheduleId, mode){
        if (mode === "custom")
        {
            $("#slider-"+scheduleId).css('display', 'block');
            var startValue = $("#slider-"+scheduleId).slider("values")[0]
            var endValue =  $("#slider-"+scheduleId).slider("values")[1]
            $("#slider-"+scheduleId).slider('values',0, startValue);
            $("#slider-"+scheduleId).slider('values',1, endValue);
            $("#schedule-"+scheduleId).val(startValue + "-" +endValue);
        }
        else
        {
             $("#slider-"+scheduleId).css('display', 'none');
             $("#schedule-"+scheduleId).val(mode);
        }
    }
    </script>
    {% include 'common/footer.html' %}

</body>
</html>
